body
{
background-image:url('IMG_4664.jpg');
border: 5px solid black;
background-color:#FFE5B4;
background-position:center 12%;
background-size:350px 350px;
background-repeat: no-repeat;
  background-attachment: fixed;

}
